body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#container {
    width: 70%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

li .task-text {
    margin-right: auto; /* Push the edit and delete buttons to the right */
}

li button {
    margin-left: 10px;
}

.strikethrough {
    text-decoration: line-through;
}

/* Bootstrap Modals */
#confirmationModal .modal-content,
#editModal .modal-content {
    text-align: center;
}

#confirmButton,
#cancelButton,
#saveButton,
#cancelEditButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#confirmButton,
#saveButton {
    background-color: #4caf50;
    color: #fff;
}

#cancelButton,
#cancelEditButton {
    background-color: #6c757d;
    color: #fff;
}

#confirmButton:hover,
#cancelButton:hover,
#saveButton:hover,
#cancelEditButton:hover {
    opacity: 0.8;
}
